*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bannerImg{
  background-image: url('../public/banner2.jpg');
  background-size: cover;
  height: 70vh;
  background-repeat: no-repeat;
  width: 100%;
}
